@import 'variables';
@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}


// ミックスイン
@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

.session-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  color: $secondary-color;
}

.form-box {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid lighten($secondary-color, 50%);
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.sessionBtn {
  background-color: $primary-color;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

